alabaster==1.0.0
asgiref==3.8.1
babel==2.17.0
certifi==2025.1.31
charset-normalizer==3.4.1
colorama==0.4.6
distlib==0.3.9
Django==5.2
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
docutils==0.21.2
filelock==3.18.0
idna==3.10
imagesize==1.4.1
Jinja2==3.1.6
MarkupSafe==3.0.2
numpy==2.2.5
packaging==24.2
pipenv==2024.4.1
platformdirs==4.3.7
psycopg2-binary==2.9.10
Pygments==2.19.1
PyJWT==2.9.0
python-dotenv==1.1.0
requests==2.32.3
roman-numerals-py==3.1.0
scipy==1.15.2
setuptools==80.1.0
snowballstemmer==2.2.0
Sphinx==8.2.3
sphinx-rtd-theme==3.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
spicy==0.16.0
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.4.0
virtualenv==20.30.0
wheel==0.45.1
